:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-dark: #434455;
    --primary-text-color-light: #FFFFFF;
    --secondary-text-color-dark: #2E2F42;
    --secondary-text-color-light: #F4F4FD;
    --accent-color: #4D5AE5;
    --accent-color-two: #404BBF;
    --accent-color-three: #F4F4FD;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
  }

body {
    font-family: var(--main-font-family);
    background-color: var(--primary-text-color-light);
    color: var(--primary-text-color-dark);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* ============ header ============= */

.page-header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    /* align-items: center; */
 
}

.page-header-container  {
    display: flex;
  /* align-items: center; */
  justify-content: space-between;

}


.header-nav{
    display: flex;
    align-items: center;
}

.nav-list,
.nav-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}


.logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    /* text-decoration: none; */
}

.header-nav .logo {
    margin-right: 76px;
}

.logo-black {
    color: var(--secondary-text-color-dark);
}

.nav-address-list {
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    /* text-decoration: none; */
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color-two);
}




/* ============ footer ============ */
.section-adress {
    background-color: var(--secondary-text-color-dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-white {
    color: var(--secondary-text-color-light);
}
.footer-text {
   color: var(--primary-text-color-light);
    width: 264px;
}


/* index.html */
/* ============ hero ============ */
.hero {
    background-color: var(--secondary-text-color-dark);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-light);
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-btn {
    background-color: var(--accent-color);
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color-light);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color-two);
}

/* ============ features  ============ */
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
}

.features-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
    margin-bottom: 8px;
}

.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
}


.features-list {
display: flex;
gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/* ============ we doing ============ */
.works-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color-dark);
    margin-bottom: 72px;
}

.works-list {
    background-color: var(--primary-text-color-light);
    display: flex;
   gap: 24px;
}

.section-works {
    padding-bottom: 120px;
}

.works-item {
    flex-basis: calc((100% - 3 * 16px) / 3)
}


/* ============ our team ============ */
.section-team {
    background-color: var(--accent-color-three);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color-dark);
    margin-bottom: 72px;
}

.team-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    text-align: center;
}

.team-list-elem {
    background-color: var(--primary-text-color-light);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
}

.team-list {
    display: flex;
    gap: 24px;
}

/* portfolio.html */
/* 
.header-nav {
    list-style: none;
}

.nav-list {
    list-style: none;
} */

.nav-address {
    font-style: normal;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
    /* text-decoration: none; */
}


.nav-link:hover,
.nav-link:focus {
   color: var(--accent-color-two);
}

.btn-nav {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--secondary-text-color-light);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
border-radius: 4px;
}

.btn-nav:hover,
.btn-nav:focus {
    color: var(--primary-text-color-light);
    background-color: var(--accent-color-two);
    cursor: pointer;
}

.btn-list {
    display: flex;
    gap: 24px;
    padding-bottom: 72px;
    justify-content: center;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
   
}
.gallery-list li {
padding-bottom: 32px;
border: 1px solid #E7E9FC;
margin-bottom: 48px;
box-sizing: border-box;
}

/* gallery */

/* .gallery-link {
    text-decoration: none;

} */

.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
 margin: 32px 0 8px 16px;
}

.gallery-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    margin: 0 0 0 16px;
}

.gallery-section {
    padding: 96px 0 120px;
}




/*  */
.section-adress .container .logo {
    display: inline-block;
    margin-bottom: 16px;
}